<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Cisco</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <script>
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false)

      function hideURLbar() {
      	window.scrollTo(1000, 2400);
      }
      function trans_information(){
        window.location.href='information';
      }

    </script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <!--**access internet management**-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Loding font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles_login.css">

</head>

<body>
  <section id="services" class="section">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <a href="" class="sbox">
                                        <div class="sbox-inner">
                                            <span class="sbox-icon"><i class="fa fa-laptop"></i></span>
                                            <h5 class="sbox-title">Fully Responsive Design</h5>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                    </a>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-xs-12 col-sm-4">
                                    <a href="" class="sbox">
                                        <div class="sbox-inner">
                                            <span class="sbox-icon"><i class="fa fa-code"></i></span>
                                            <h5 class="sbox-title">Easy & Clean Code</h5>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                    </a>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-xs-12 col-sm-4">
                                    <a href="" class="sbox">
                                        <div class="sbox-inner">
                                            <span class="sbox-icon"><i class="fa fa-paper-plane"></i></span>
                                            <h5 class="sbox-title">24/7 Customer Support</h5>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                    </a>
                                </div>
                                <!-- /.col-sm-4 -->
                            </div>
                            <!-- /.row -->
                        </section>

  </form>
</body>
</html>`

